__pycache__
__pycache__/*
.DS_Store
node_modules/**/*
node_modules/
.expo/*
.expo/
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.idea
*.swp
.vscode
.vscode/*
.atom
.babel.7.4.4.development.json
packager-info.json
config.py
yarn-error.log
url.js
